tracker_TTGO_ttn/nodered Geolo.json
[
    {
        "id": "fd46e8d2386a683f",
        "type": "tab",
        "label": "Geolocalisation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c54b0bb4d454e17b",
        "type": "mqtt in",
        "z": "fd46e8d2386a683f",
        "name": "",
        "topic": "v3/gps-temp@ttn/devices/eui-a8610a3434468119/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1a6a4f3afc2d5992",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "22823571fbfee0c3",
                "cfe76382c25ab618",
                "565464e7b5405174"
            ]
        ]
    },
    {
        "id": "22823571fbfee0c3",
        "type": "function",
        "z": "fd46e8d2386a683f",
        "name": "function 28",
        "func": "// Recuperation des données de la clé 'frm_payload'\n//Message codé en base 64\nmsg.payload=msg.payload.uplink_message.frm_payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "5a89733fb272c463"
            ]
        ]
    },
    {
        "id": "5a89733fb272c463",
        "type": "base64",
        "z": "fd46e8d2386a683f",
        "name": "",
        "action": "b64",
        "property": "payload",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "ca20fb87ef198684"
            ]
        ]
    },
    {
        "id": "cfe76382c25ab618",
        "type": "function",
        "z": "fd46e8d2386a683f",
        "name": "function 20 Antenne",
        "func": "// Recuperation des données de la clé 'frm_payload'\n\ntemp=msg.payload.uplink_message.rx_metadata;\nmsg.payload=temp[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "9ad4b5a2d148a932",
                "647943d506ea9c05"
            ]
        ]
    },
    {
        "id": "9ad4b5a2d148a932",
        "type": "function",
        "z": "fd46e8d2386a683f",
        "name": "function 21 Gateway",
        "func": "// Recuperation des données de la clé 'frm_payload'\nmsg.payload =  msg.payload.gateway_ids.gateway_id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 100,
        "wires": [
            [
                "adfc8ba71e48b63d"
            ]
        ]
    },
    {
        "id": "565464e7b5405174",
        "type": "function",
        "z": "fd46e8d2386a683f",
        "name": "function 22 Received",
        "func": "// Recuperation des données de la clé\n\n\nmsg.payload = msg.payload.received_at;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "adfc8ba71e48b63d"
            ]
        ]
    },
    {
        "id": "adfc8ba71e48b63d",
        "type": "join",
        "z": "fd46e8d2386a683f",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ";",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "b8cd1409940e901a"
            ]
        ]
    },
    {
        "id": "647943d506ea9c05",
        "type": "function",
        "z": "fd46e8d2386a683f",
        "name": "function 29 RSSI",
        "func": "// Recuperation des données de la clé 'frm_payload'\nmsg.payload =  msg.payload.rssi;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 140,
        "wires": [
            [
                "adfc8ba71e48b63d"
            ]
        ]
    },
    {
        "id": "b796313d25853f28",
        "type": "debug",
        "z": "fd46e8d2386a683f",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "97bb593a35cf67e9",
        "type": "worldmap",
        "z": "fd46e8d2386a683f",
        "name": "test",
        "lat": "45.767753",
        "lon": "3.018604",
        "zoom": "",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "b8cd1409940e901a",
        "type": "debug",
        "z": "fd46e8d2386a683f",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "ca20fb87ef198684",
        "type": "json",
        "z": "fd46e8d2386a683f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "97bb593a35cf67e9",
                "b796313d25853f28",
                "8bfcae5f47c6a2e4"
            ]
        ]
    },
    {
        "id": "8bfcae5f47c6a2e4",
        "type": "ui_worldmap",
        "z": "fd46e8d2386a683f",
        "group": "cad625c150ea98ef",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "1a6a4f3afc2d5992",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cad625c150ea98ef",
        "type": "ui_group",
        "name": "IOT3 Géolocalisation",
        "tab": "d48c1cfa38a3b0ab",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d48c1cfa38a3b0ab",
        "type": "ui_tab",
        "name": "IOT3 Géolocalisation",
        "icon": "iot3",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]